@import "tailwindcss";

:root {
  --primary:       #A0714F;
  --primary-dark:  #2C1810;
  --primary-light: #C4956A;
  --cream:         #FDFAF6;
  --text:          #1A1209;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
}